<script>
  import { lang, title, background, initialContenders, screen, champion } from './stores.js'
  import Examples from './Examples.svelte'
  import Round from './Round.svelte'
  import Champion from './Champion.svelte'
  import Match from './Match.svelte'

  document.title = $title + '!'

  let rounds = [8, 4, 2, 1] // [...Array(4).keys()].map(i => Math.pow(2, i)).reverse()
  let contenders = Object.fromEntries(rounds.map(n => [n, []])) // rounds.reduce((o, k) => (o[k] = [], o), {})
  contenders[8] = $initialContenders

  let match = {contenders: [], round: 8, pair: 1}

  function onPairClick(e) {
    match = e.detail
    $screen = 'match'
  }

  function onContenderClick(e) {
    let c = e.detail.contender
    if (match.round != 1) contenders[match.round / 2][match.pair - 1] = c
    else $champion = c

    $screen = 'tournament'
  }
</script>

{#if $initialContenders.length == 1}
  <Examples/>
{:else}
  <main style="background-image: url({$background})">
    <div class="whitening">
      {#each rounds as r}
        <Round on:pairClick="{onPairClick}" round="{r}" contenders="{contenders[r]}"/>
      {/each}

      <Champion/>

      <Match contenders="{match.contenders}" on:contenderClick="{onContenderClick}"/>
    </div>
  </main>
{/if}

<style>
	main {
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-size: cover;
	}

  .whitening {
    display: flex;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    /*backdrop-filter: blur(2.5px);*/
  }

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>
