<script>
  import { champion } from './stores.js'
</script>

{#if $champion}
  <div class="champion">
    <div class="trophy">🏆</div>
    <div class="name">{$champion}</div>
    <div class="trophy">🏆</div>
  </div>
{/if}

<style>
  .champion {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: calc(50% + 1em);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 30px;

    background: #fff;
    color: #666;

    padding: 5px;
    margin: 3px 0;

    font-size: 12px;
    font-weight: bold;
    line-height: 1em;

    box-shadow: 2px 2px 2px #333;
    border: 2px solid yellow;
    border-radius: 4px;

    user-select: none;
    overflow: hidden;
  }

  .champion .trophy {
    font-size: 18px;
    flex-grow: 0;
  }

  .champion .name {
    flex-grow: 1;
    text-align: center;
  }
</style>
