<script>
  import { lang, title } from './stores.js'

  const examples = [
    {
      title: {en: 'Fruits', fr: 'Fruits', pt: 'Frutas'}[$lang],
      background: 'https://wallpapercave.com/wp/wp3145270.jpg',
      en: '🍌 Banana|🍎 Apple|🍐 Pear|🍍 Pineapple|🍇 Grapes|🍋 Lemon|🍓 Strawberry|🥝 Kiwi|🍑 Peach|🍊 Orange|🍊 Tangerine|🍉 Watermelon|🍏 Soursop|🍈 Jackfruit|🔵 Blueberry|🍏 Sugar-apple',
      fr: '🍌 Banane|🍎 Pomme|🍐 Poir|🍍 Ananas|🍇 Raisin|🍋 Citron|🍓 Fraise|🥝 Kiwi|🍑 Pêche|🍊 Orange|🍊 Tangerine|🍉 Pastèque|🍏 Corossol|🍈 Pomme Jacque|🔵 Myrtille|🍏 Pocanelle',
      pt: '🍌 Banana|🍎 Maçã|🍐 Pera|🍍 Abacaxi|🍇 Uva|🍋 Limão|🍓 Morango|🥝 Kiwi|🍑 Pêssego|🍊 Laranja|🍊 Tangerina|🍉 Melancia|🍏 Graviola|🍈 Jaca|🔵 Blueberry|👑 Fruta do Conde'
    },
    {
      title: {en: 'TV Shows', fr: 'Séries Télé', pt: 'Séries'}[$lang],
      background: 'https://cdn.wallpapersafari.com/9/79/rCRVuM.jpg',
      en: 'Breaking Bad|Better Call Saul|Seinfeld|Game of Thrones|House|ER|Stranger Things|Star Trek: TNG|The Simpsons|Black Mirror|The Walking Dead|The X-Files|Saint Seiya|Futurama|The Office|Outlander',
      fr:  'Breaking Bad|Better Call Saul|Seinfeld|Game of Thrones|House|ER|Stranger Things|Star Trek: TNG|Les Simpson|Black Mirror|The Walking Dead|The X-Files|Saint Seiya|Futurama|The Office|Outlander',
      pt:  'Breaking Bad|Better Call Saul|Seinfeld|Game of Thrones|House|ER|Stranger Things|Star Trek: TNG|Os Simpsons|Black Mirror|The Walking Dead|Arquivo X|Cavaleiros do Zodíaco|Futurama|The Office|Outlander'
    }
  ]
</script>

<main class="examples">
  <h1 class="title">🏆 <span class="text">{$title}</span><span class="exclamation">!</span></h1>
  <h3>{({en: 'Examples', fr: 'Exemples', pt: 'Exemplos'}[$lang])}:</h3>
  {#each examples as ex}
    <div class="example"><a href="?c={ex[$lang]}&bg={ex.background}&l={$lang}">{ex.title}</a></div>
  {/each}
</main>

<style>
  .title {
    font-size: 300%;
    text-shadow: 1px 1px 5px #000;
  }

  .title .text {
    color: #fff;
    font-style: italic;
  }

  .title .exclamation {
    color: #e00;
    font-size: 120%;
    font-style: italic;
  }

  .examples {
    position: fixed;
    top: 0; left: 0;
    right: 0; bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .example {
    margin: 5px 0;
  }
</style>
