<script>
  import { createEventDispatcher } from 'svelte'
  const dispatch = createEventDispatcher()
  import { screen } from './stores.js'

  export let contenders

  function onContenderClick(contender) {
    dispatch('contenderClick', {contender})
  }
</script>

{#if $screen == 'match'}
  <div class="match">
      <div class="contender" on:click="{onContenderClick(contenders[0])}">{contenders[0]}</div>
      <div class="versus">VS</div>
      <div class="contender" on:click="{onContenderClick(contenders[1])}">{contenders[1]}</div>
  </div>
{/if}

<style>
  .match {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
  }

  .contender {
    background: #fff;
    text-align: center;
    font-size: 36px;
    padding: 40px;
    margin: 20px 0;
    border-radius: 30px;
    box-shadow: 0 0 20px #000;
    user-select: none;
  }

  .versus {
    font-style: italic;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    user-select: none;
  }
</style>
