<script>
  import { createEventDispatcher } from 'svelte'
  const dispatch = createEventDispatcher()
  
  export let round
  export let pair
  export let contenders
  export let disabled = false

  function onPairClick() {
    if (!disabled && contenders[0] && contenders[1]) {
      disabled = true
      dispatch('pairClick', {round, pair, contenders})
    }
  }
</script>

<div class="pair" class:disabled on:click="{onPairClick}">
  <div class="box">{contenders[0] || ''}</div>
  <div class="box">{contenders[1] || ''}</div>
</div>

<style>
  .pair {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .box {
    background: #fff;
    color: #666;
    border-radius: 4px;
    padding: 5px;
    margin: 2px 0;
    font-size: 10px;
    font-weight: bold;
    height: 1.5em;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 2px #333;
    line-height: 1em;
    user-select: none;
    overflow: hidden;
  }

  .box:first-child {
    margin-top: 0;
  }

  .box:last-child {
    margin-bottom: 0;
  }

  .pair.disabled .box {
    background: #ddd;
    opacity: 0.8;
  }
</style>
