<script>
  import { lang } from './stores.js'
  import Pair from './Pair.svelte'

  export let round
  export let contenders

  $: label = {
    en: {8: 'Octofinals', 4: 'Quarterfinals', 2: 'Semifinals', 1: 'Final'},
    fr: {8: 'Huitièmes', 4: 'Quarts', 2: 'Demi-finales', 1: 'Finale'},
    pt: {8: 'Oitavas', 4: 'Quartas', 2: 'Semifinais', 1: 'Final'}
  }[$lang][round]
</script>

<div class="round">
  <h1 class="name">{label}</h1>

  <div class="pairs">
    {#each Array(round) as item, idx}
      <Pair on:pairClick round="{round}" pair="{idx + 1}" contenders="{contenders ? contenders.slice(idx * 2, (idx * 2) + 2) : []}"/>
    {/each}
  </div>
</div>

<style>
  .round {
    flex-grow: 1;
    flex-basis: 0; /* Otherwise the remaining space to be distributed according to flex-grow will depend on contents */
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin: 4px;
  }

  .name {
    flex-grow: 0;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-shadow: 1px 1px 5px #000;
    color: #fff;
    text-transform: uppercase;
    user-select: none;
    margin: 4px 0;
  }

  .pairs {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
